/workshops/unit1/WSO3OPERATORS/BasicOperation/nbproject/private/
/workshops/unit1/WSO3OPERATORS/BasicOperation/build/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/nbproject/private/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/build/
/workshops/FP02_ControlStament/build/
/workshops/FP02_ControlStament/nbproject/private/
/workshops/unit1/WS03OPERATORS/BasicOperation/build/
/workshops/unit1/WS03OPERATORS/BasicOperation/nbproject/private/
/workshops/unit1/HW02/ASSIGMENTS/FLOAT/nbproject/private/
/workshops/unit1/HW02/float/nbproject/private/
/workshops/unit1/HW02/float/build/
/workshops/unit1/HW02/AREANONAGONO/nbproject/private/
/workshops/unit1/HW02/AREANONAGONO/build/
/workshops/unit1/HW02/AREA DE NONAGONO_short/nbproject/private/
/workshops/unit1/HW02/AREA DE NONAGONO_short/build/
/workshops/unit1/HW02/Segunda Area del nonagono/nbproject/private/
/workshops/unit1/HW02/Segunda Area del nonagono/build/
/workshops/unit1/HW02/TerceraAreadelNonagono/nbproject/private/
/workshops/unit1/HW02/SegundaAreaNonagono/nbproject/private/
/workshops/unit1/HW02/SegundaAreaNonagono/build/
/workshops/unit1/HW02/TerceraAreaNonagono/nbproject/private/
/workshops/unit1/HW02/TerceraAreaNonagono/build/
/workshops/unit1/HW02/Logical OperationS/nbproject/private/
/workshops/unit1/WS04 LOGICAL OPERATIONS/Logical Operation/nbproject/private/
/workshops/unit1/WS04 LOGICAL OPERATIONS/Logical Operation/build/
