/workshops/unit1/WSO3OPERATORS/BasicOperation/nbproject/private/
/workshops/unit1/WSO3OPERATORS/BasicOperation/build/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/nbproject/private/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/build/
/workshops/FP02_ControlStament/build/
/workshops/FP02_ControlStament/nbproject/private/
/workshops/unit1/WS03OPERATORS/BasicOperation/build/
/workshops/unit1/WS03OPERATORS/BasicOperation/nbproject/private/
