/workshops/unit1/WSO3OPERATORS/BasicOperation/nbproject/private/
/workshops/unit1/WSO3OPERATORS/BasicOperation/build/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/nbproject/private/
/workshops/unit1/WSO3OPERATORS/FP02_ControlStament/build/
/workshops/FP02_ControlStament/build/
/workshops/FP02_ControlStament/nbproject/private/
/workshops/unit1/WS03OPERATORS/BasicOperation/build/
/workshops/unit1/WS03OPERATORS/BasicOperation/nbproject/private/
/workshops/unit1/HW02/ASSIGMENTS/FLOAT/nbproject/private/
/workshops/unit1/HW02/float/nbproject/private/
/workshops/unit1/HW02/float/build/
/workshops/unit1/HW02/AREANONAGONO/nbproject/private/
/workshops/unit1/HW02/AREANONAGONO/build/
/workshops/unit1/HW02/AREA DE NONAGONO_short/nbproject/private/
/workshops/unit1/HW02/AREA DE NONAGONO_short/build/
/workshops/unit1/HW02/Segunda Area del nonagono/nbproject/private/
/workshops/unit1/HW02/Segunda Area del nonagono/build/
/workshops/unit1/HW02/TerceraAreadelNonagono/nbproject/private/
/workshops/unit1/HW02/SegundaAreaNonagono/nbproject/private/
/workshops/unit1/HW02/SegundaAreaNonagono/build/
/workshops/unit1/HW02/TerceraAreaNonagono/nbproject/private/
/workshops/unit1/HW02/TerceraAreaNonagono/build/
/workshops/unit1/HW02/Logical OperationS/nbproject/private/
/workshops/unit1/WS04 LOGICAL OPERATIONS/Logical Operation/nbproject/private/
/workshops/unit1/WS04 LOGICAL OPERATIONS/Logical Operation/build/
/workshops/unit1/WS04 LOGICAL OPERATIONS/WSO05Iterations/nbproject/private/
/workshops/unit1/WS04 LOGICAL OPERATIONS/WSO05Iterations/build/
/workshops/unit1/WS05 ITERATIONS/WS05/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/WSO05ITERATIONS/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/WSO05ITERATIONS/build/
/workshops/unit1/WS05 ITERATIONS/WS05ITERATIONS/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/WS05ITERATIONS/build/
/workshops/unit1/WS05 ITERATIONS/WSO5ITERATIONS/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/WSO5ITERATIONS/build/
/workshops/unit1/WS05 ITERATIONS/WHILE FOR.java/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/WHILE FOR.java/build/
/workshops/unit1/WS05 ITERATIONS/HW03Iterations/nbproject/private/
/workshops/unit1/WS05 ITERATIONS/HW03Iterations/build/
/workshops/unit1/WS05 ITERATIONS/JavaApplication30/nbproject/private/
/workshops/unit1/HW03 Iterations/HW03Iterations/nbproject/private/
/workshops/unit1/HW03 Iterations/HW03Iterations/build/
/workshops/unit1/WSO6 Evaluacion de expresiones/Evaluacion de Expresiones/nbproject/private/
/workshops/unit1/WS07MENU/HW07MENU/nbproject/private/
/workshops/unit1/WS07MENU/HW07MENU/build/
/workshops/unit1/WS07MENU/WS07Menu/nbproject/private/
/workshops/unit1/WS07MENU/WS07Menu/build/
/workshops/unit1/HW04MENU/HW04MENU/nbproject/private/
/workshops/unit1/HW04MENU/HW04MENU/build/
/workshops/unit1/WS07MENU/WS07Menu/dist/
/workshops/unit1/HW04MENU/HW04 MENU/nbproject/private/
/workshops/unit1/HW04MENU/HW04 MENU/build/
/EXAM/UNIT1/EXAM1/nbproject/private/
/EXAM/UNIT1/EXAM1/build/
/EXAM/UNIT1/ARTEAGA SANTIAGO_Q11/nbproject/private/
/EXAM/UNIT1/ARTEAGA SANTIAGO_Q11/build/
/EXAM ARTEAGA SANTIAGO -Q11/UNIT1/ARTEAGA SANTIAGO_Q11/build/
/EXAM ARTEAGA SANTIAGO -Q11/UNIT1/ARTEAGA SANTIAGO_Q11/nbproject/private/
/ProjectGroup1/ProjectGroup1/nbproject/private/
/ProjectGroup1/ProjectGroup1/build/
/workshops/UNIT 2/CORRECTION WS08/CORRECTIONWS08/nbproject/private/
/workshops/UNIT 2/CORRECTION WS08/CORRECTIONWS08/build/
/workshops/UNIT 2/HW08- FactorialNumber/Factorial Number/nbproject/private/
/workshops/UNIT 2/HW08- FactorialNumber/Factorial Number/build/
/Assignments/HW08-FactorialNumber/FactorialNumber/nbproject/private/
/Assignments/HW08-FactorialNumber/FactorialNumber/build/
/Assignments/UNIT2/HW09-EmbeddedStructures/hw09.embeddedstructures/nbproject/private/
/Assignments/UNIT2/HW09-EmbeddedStructures/hw09.embeddedstructures/build/
/workshops/UNIT 2/WS09-FUNTIONS/WS09-FUNTIONS/nbproject/private/
/workshops/UNIT 2/WS09-FUNTIONS/WS09-FUNTIONS/build/
/Assignments/HW10- Funtion/HW10-Funtions/nbproject/private/
/Assignments/HW10- Funtion/HW10-Funtions/build/
/workshops/UNIT 2/WS11-FuntionsandRecursion/FuntionandRecursion/nbproject/private/
/workshops/UNIT 2/WS11-FuntionsandRecursion/FuntionandRecursion/build/
/workshops/UNIT 2/WS11-FuntionsandRecursion/WS11ChangetheVerbs/nbproject/private/
/workshops/UNIT 2/WS10-Funtions/WS10FUNTIONS/nbproject/private/
/workshops/UNIT 2/WS11-FuntionsandRecursion/FUNTIONSandRecursion/nbproject/private/
/workshops/UNIT 2/WS11-FuntionsandRecursion/FUNCIONES/nbproject/private/
/workshops/UNIT 2/WS11-FuntionsandRecursion/Funtions/nbproject/private/
/workshops/UNIT 2/WS10-FUNTIONS/WS09-FUNTIONS/build/
/workshops/UNIT 2/WS10-FUNTIONS/WS09-FUNTIONS/nbproject/private/
/workshops/UNIT 2/WS10-FUNTIONS/WS10-FUNTIONS/build/
/workshops/UNIT 2/WS10-FUNTIONS/WS10-FUNTIONS/nbproject/private/
/workshops/UNIT 2/Funtions/nbproject/private/
/workshops/UNIT 2/Nueva carpeta/WS10FUNTIONS/nbproject/private/
/workshops/UNIT 2/WS10FUNTION/FUNCIONES/nbproject/private/
/workshops/UNIT 2/WS10FUNTION/funtions/nbproject/private/
/workshops/UNIT 2/WS10FUNTION/funtions/build/
/workshops/UNIT 2/WS11-FuntionsandRecursion/WS11funtionsandrecursion/nbproject/private/
/Assignments/HW11-Recursion/HW11-Recursion/nbproject/private/
/Assignments/HW11-Recursion/HW11-Recursion/build/
/Assignments/HW11-Recursion/HW11Example/nbproject/private/
/Assignments/HW11-Recursion/HW11Example/build/
/Assignments/HW11-Recursion/FUNTIONandRecursion/nbproject/private/
/Assignments/HW11-Recursion/FUNTIONandRecursion/build/
/workshops/UNIT 2/WS12-Library/WS12-Libraries/nbproject/private/
/workshops/UNIT 2/WS12-Library/WS12-Libraries/build/
/Assignments/HW12-Taxes/HW12-Taxes/nbproject/private/
/Assignments/HW12-Taxes/HW12-Taxes/build/
/workshops/UNIT 2/WS13-Task/HW13-Task/nbproject/private/
/workshops/UNIT 2/WS13-Task/HW13-Task/build/
/workshops/UNIT 2/WS14-Arrays/Array/nbproject/private/
/workshops/UNIT 2/WS14-Arrays/Array/build/
/workshops/UNIT 2/WS14-Arrays/FarmSimulator/nbproject/private/
/workshops/UNIT 2/WS14-Arrays/FarmSimulator/build/
/Assignments/HW14-Arrays/Typesofmatrices/nbproject/private/
/Assignments/HW14-Arrays/Typesofmatrices/build/
/Quizes/Quiz_-22-02-2021/nbproject/private/
/Quizes/Quiz_-22-02-2021/build/
/Quizes/Quiz.Animals/nbproject/private/
/Quizes/Quiz.Animals/build/
/Quizes/quiz-animalwights/nbproject/private/
/Quizes/quiz-animalwights/build/
/Quizes/quiz-animalwights/dist/
/workshops/UNIT 2/WS15-CorrectionQuiz/Correctio/nbproject/private/
/workshops/UNIT 2/WS15-CorrectionQuiz/Correctio/build/
/workshops/UNIT 2/WS16-MatrixAddition/MatrixAddition/nbproject/private/
/workshops/UNIT 2/WS16-MatrixAddition/MatrixAddition/build/
/Assignments/HW15-Operation/MatrixOperation/nbproject/private/
/Assignments/HW15-Operation/MatrixOperation/build/
/workshops/UNIT 2/WS17-MatrizTransposition/MatrixTransportation/nbproject/private/
/workshops/UNIT 2/WS17-MatrizTransposition/MatrixTransportation/build/
/Assignments/HW16-MatrixFuntion/MatrixFuntion/nbproject/private/
/Assignments/HW16-MatrixFuntion/MatrixFuntion/build/
/ProjectGroup1/Project 2/Project 2/nbproject/private/
/ProjectGroup1/Project 2/Project 2/build/
/ArteagaSQ11/ArteagaSQ11/nbproject/private/
/ArteagaSQ11/ArteagaSQ11/build/
